.loading{
    margin-top: 10%;
    text-align:center;
    #loading-img{
        width: 250px;
        animation: rotation 3s infinite linear;
        background: transparent;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media only screen and (max-width: 750px) { 
  .loading{
    margin-top: 17%;
    #loading-img{
        width: 200px;
    }
}
}
